.admin-orderPanel{
    width: 100%;
    text-align: left;
    border: 10px solid white;
}

.admin-orderPanel th {
    font-size: 18px;
    padding: 10px;
}

.admin-orderPanel td {
    background: #F5D7BF;
    padding: 10px;
}

.action-order-panel{
    background-color: #8ee085;
    margin-top: -25px;
    margin-left: 10px;
    margin-right: 10px;
}