.client-cardOrderInfo th {
    font-size: 18px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(124, 212, 121);
}

.client-cardOrderInfo td {
    background: #e1dede;
    padding: 10px;
}

.client-cardOrderInfo table{
    width: 100%;
}