.feedback-container{
    width: 25%;
    box-shadow: 2px 2px 10px 2px rgb(208, 223, 173);
    display: inline-block;
    margin-right: 3em;
    margin-bottom: 10px;
    padding: 5px;
}

.feedback-photo img{
    height: 50px;
    width: 50px;
}

.feedback-name{
    color: rgb(90, 231, 62);
    margin-bottom: 10px;
    font-weight: bold;
} 
