.in-container {
    border: 1px solid black;
    padding: 30px;
    width: 40%;
    margin-left: 30%;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background-color: white;
    border-radius: 10px;
}

.singIn-container{
    background-image: url('../img/fon-4.jpg');
    height: 100vh;
    display: flex;
    align-items: center;
    justify-self: center;
}

.in-container .underline {
    border-bottom: solid 2px #474544;
    margin: 2em auto 1em auto;
    width: 50%;
}

.in-container .btns{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

.in-container .fullWidth{
    width: 100%;
}