.header h1, .header h3 {
    text-align: center;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header{
    background-color: #f0f3f6;
    position: sticky;
    top:0;
    box-shadow: 0 0 20px 0 rgb(58, 58, 35);
    z-index:10;
}

.header-container {
    height: 80px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: space-between;
    margin-left: 15%;
    margin-right: 15%;
}